<div class="paddinggeneral">
    <form action="/invite-guest" method="POST">
        <div class="uk-margin uk-flex">
            <div class="uk-align-center">
                <div class="guest">
                    <h2>Invita a alguien</h2>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline ">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        <input class="uk-input " type="text" name="name" placeholder="Nombre">
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon  " uk-icon="user"></span>
                        <input class="uk-input " type="text" name="lastName" placeholder="Apellido">
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon " uk-icon="google"></span>
                        <input class="uk-input" type="email" name="email" placeholder="Email">
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon " uk-icon="comments"></span>
                        <input class="uk-input" type="text" name="message" placeholder="Mensaje">
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon " uk-icon="calendar"></span>
                        <input class="uk-input" type="date" name="date" id="date" placeholder="Fecha">
                    </div>
                </div>
                <br>
                <br>

         <button class="uk-button uk-button-primary uk-button-small"><a href="/staffprofile">Regresar</a></button>

                <button class="uk-button uk-button-primary uk-button-small" type="submit"
                    value="Invitar">Invitar</button>


    </form>
</div>