<h2>Invita a alguien</h2>

<form action="/student-guest" method="POST">
<label for="name">Nombre</label>
<input type="text" name="name" id="name" placeholder="Nombre">

<label for="lastName">Apellido</label>
<input type="text" name="lastName" id="lastName" placeholder="Apellido">

<label for="email">Email</label>
<input type="email" name="email" id="email" placeholder="Email">
<br>
<br>
<label for="message">Mensaje</label>
<textarea type="text" name="message" id="" placeholder="Mensaje"></textarea>
<br>
<br>
<label for="date">Selecciona una fecha</label>
<input type="date" name="date" id="date">

<input type="submit" value="Invite">
</form>

<a href="/studentprofile">Regresar</a>
</form>