body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.logimg h2 {
  text-align: center;
  font-size: 80px;
}

.logimg {
  background-image: url(../images/cdmx.jpg);
  background-size: cover;
  height: 500px;
  padding: 40px;
}

.image {
  background-image: url(../images/cdmx.jpg);
}
