body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #00b7ff;
}

.logimg h2 {
  text-align: center;
  font-size: 80px;
}

.logimg {
  background-image: url(../images/cdmx2.png);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-position: center;
}

.image {
  background-image: url(../images/cdmx.jpg);
  background-size: cover;
}

.login img {
  height: 350px;
  margin: auto;
  display: block;
  padding-top: 40px;
}

.login h2 {
  color: white;
}

.loginform {
  margin-top: 500px;
}

.index {
  background-image: url(../images/cdmx2.png);
  background-size: cover;

  width: 100vw;
  height: 100vh;
  background-position: center;
}

.index h2 {
  text-align: center;
  color: white;
  font-size: 80px;
}

.index p {
  text-align: center;
  color: white;
  font-size: 40px;
}

.paddinggeneral {
  padding: 50px;
}

.img {
  height: 350px;
  margin: auto;
  display: block;
  padding-top: 40px;
}

.uk-modal-dialog.uk-container-xsmall.alto {
  height: 300px;
}

.imgindex {
  height: 40px;
}
.uk-margin.uk-position-center {
  margin-top: 10px;
}

.uk-active p {
  margin-left: 20px;
}
//create-student button
.uk-button.uk-button-primary.uk-button-small a {
  color: white;
}

.uk-button.uk-button-primary.uk-button-small.staffprofilebutton a {
  color: black;
}
